
<% samples ||= [] %>
<h1>Samples</h1>

<% if samples.count == 0 %>
  No samples yet.
<% else %>
  <div class="sample-container">
    <table> 
    <thead>
      <tr>
        <th width="10%">Name</th>
        <th>ID</th>
        <th width="5%">Uploader</th>
        <th>Project</th>
        <th>Sample Status</th>
        <th>Run status</th>
        <th>&nbsp;</th>
        <th width="25%">Job Ids </th>
        <th>Submitted At</th>
      </tr>
    </thead>

    <tbody>
      <% samples.each do |sample| %>
        <tr class=<%= sample_status_display_for_hidden_page(sample)%>>
          <td><%= sample.name %></td>
          <td><%= sample.id %></td>
          <td class='small'><%= sample.user.email if sample.user %></td>
          <td><%= link_to sample.project.name, sample.project if sample.project if sample.project %></td>
          <td><%= sample.status %>
            <% if sample.status.to_s == 'created' and sample.created_at < 30.minutes.ago %>
                <%= button_to 'reupload', reupload_source_sample_path(sample), method: :put %>
            <% end %>
          </td>
          <td>
            <% pipeline_run = sample.pipeline_runs.first %>
            <% pipeline_run_submitted = 'N/A' %>
            <% pipeline_job_ids = 'N/A' %>
            <% if pipeline_run %>
              <% pipeline_run_submitted = pipeline_run.created_at %>
              <% pipeline_job_ids = pipeline_run.pipeline_run_stages.pluck(:job_id).compact.join("<br><br>") %>
              <%= pipeline_run.job_status %>
              &nbsp;
              <% if pipeline_run.completed? %>
                <%= button_to 'rerun from top', kickoff_pipeline_sample_path(sample), method: :put, form: {target: '_blank'} %>
                <%= button_to "rerun failed stage", retry_pipeline_sample_path(sample), method: :put, form: {target: '_blank'} %>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to 'Runs', pipeline_runs_sample_path(sample) %> &nbsp;
              <%= link_to 'Edit', edit_sample_path(sample) %></td>
          <td><%= pipeline_job_ids.html_safe %></td>
          <td class="small"><%= pipeline_run_submitted %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
<% end %>
