<div id="SampleUpload">
  <%= javascript_tag do %>
    react_component('SampleUpload', {
      selectedSample: JSON.parse('<%= raw @sample.to_json %>'),
      projectInfo: JSON.parse('<%= raw @project_info.to_json %>'),
      projects: JSON.parse('<%= raw @projects.to_json %>'),
      host_genomes: JSON.parse('<%= raw @host_genomes.to_json %>')
      csrf: '<%= form_authenticity_token %>',
      inputFiles: JSON.parse('<%= raw @input_files.to_json %>'),
      loggedin_user: JSON.parse('<%= raw current_user.to_json %>')
    }, 'SampleUpload');
  <% end %>
</div>
