<%= react_component 'SampleUpload', {sample: @sample, projectInfo: @project_info}%>

<h1>Editing Sample</h1>

<%= render 'form', sample: @sample %>

<%= link_to 'Show sample', @sample %> |
<%= link_to 'See all samples', samples_path %> |
<%= link_to 'Front portal', root_path %>
