<div id="sample_upload_page">
  <%= javascript_tag do %>
    react_component('SampleUpload', {
      projects: JSON.parse('<%= raw escape_json(@projects) %>'),
      csrf: '<%= form_authenticity_token %>',
      sample: JSON.parse('<%= raw escape_json(@sample)%>'),
      host_genomes: JSON.parse('<%= raw escape_json(@host_genomes)%>'),
      loggedin_user: JSON.parse('<%= raw escape_json(current_user)%>')
    }, 'sample_upload_page');
  <% end %>
</div>
