<p>
  <strong>Name:</strong>
  <%= @sample.name %>
</p>

<p>
  <strong>Project:</strong>
  <%= link_to @sample.project.name, @sample.project %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @sample.created_at %>
</p>

<p>
  <strong>Pipeline runs:</strong>
</p>

<table class="table table-condensed">
      <thead>
        <tr>
          <th> Run ID </th>
          <th> Job Status </th>
          <th> Job Id </th>
          <th> Job Log </th>
          <th>Remaining reads</th>
          <th>Job Started</th>
        </tr>
      </thead>
      <tbody>
        <% @sample.pipeline_runs.each do |pipeline_run| %>
          <% if pipeline_run.pipeline_run_stages.present? %>
            <% prs = pipeline_run.pipeline_run_stages %>
            <% prs.each do |run_stage| %>
              <tr>
                <td> <%= "#{pipeline_run.id} - #{run_stage.name}" %>
                <td> <%= run_stage.job_status %>
                <td> <%= run_stage.job_id %>
                <td> <%= link_to 'Logs', run_stage.log_url %>
                <td><%= pipeline_run.remaining_reads %> &nbsp;</td>
                <td><%= run_stage.created_at %></td>
               </tr>
            <% end %>
          <% else %>
          <tr>
            <td> <%= pipeline_run.id %>
            <td> <%= pipeline_run.job_status %>
            <td> <%= pipeline_run.job_id %>
            <td> <%= link_to 'Logs', pipeline_run.log_url %>
            <td><%= pipeline_run.remaining_reads %> &nbsp;</td>
            <td><%= pipeline_run.created_at %></td>
           </tr>
          <% end %>
        <% end %>
      </tbody>
</table>

<p>
<%= link_to 'See all samples', samples_path %> |
</p>
