<div id="PipelineSampleReads_page">
  <%= javascript_tag do %>
    react_component('PipelineSampleReads', {
      csrf: '<%=form_authenticity_token %>',
      gitVersion: '<%=@git_version %>',
      sampleInfo: JSON.parse('<%= raw escape_json(@sample) %>'),
      pipelineOutput: JSON.parse('<%= raw escape_json(@pipeline_output) %>'),
      projectInfo: JSON.parse('<%= raw escape_json(@project_info) %>'),
      pipelineRun: JSON.parse('<%= raw escape_json(@pipeline_run_display) %>'),
      jobStatistics: JSON.parse('<%= raw escape_json(@job_stats) %>'),
      project_sample_ids_names: JSON.parse('<%= raw escape_json(@project_sample_ids_names) %>'),
      host_genome: JSON.parse('<%= raw escape_json(@host_genome) %>'),
      summary_stats: JSON.parse('<%= raw escape_json(@summary_stats) %>'),
      reportPresent: '<%=@report_present %>',
      reportTime: '<%=@report_ts%>',
      allCategories: JSON.parse('<%= raw escape_json(@all_categories)%>'),
      reportDetails: JSON.parse('<%= raw escape_json(@report_details)%>'),
      reportPageParams: JSON.parse('<%= raw escape_json(@report_page_params) %>'),
      sample_status: '<%= @sample_status %>',
      rerun_path: '<%= kickoff_pipeline_sample_path %>',
      can_edit: <%= @can_edit %>,
      all_backgrounds: JSON.parse('<%= raw escape_json(@background_models) %>')
    }, 'PipelineSampleReads_page');
  <% end %>
</div>
