<div id="PipelineSampleReads_page">
  <%= javascript_tag do %>
    react_component('PipelineSampleReads', {
      sampleInfo: JSON.parse('<%= raw @sample.to_json %>'),
      pipelineOutput: JSON.parse('<%= raw @pipeline_output.to_json %>'),
      projectInfo: JSON.parse('<%= raw @project_info.to_json %>'),
      pipelineRun: JSON.parse('<%= raw @pipeline_run.to_json %>'),
      jobStatistics: JSON.parse('<%= raw @job_stats.to_json %>'),
      project_sample_ids_names: JSON.parse('<%= raw @project_sample_ids_names.to_json %>'),
      host_genome: JSON.parse('<%= raw @host_genome.to_json %>'),
      summary_stats: JSON.parse('<%= raw @summary_stats.to_json %>'),
      reportPresent: JSON.parse('<%= raw @report_present.to_json %>'),
      reportTime: JSON.parse('<%= raw @report_ts.to_json %>'),
      allCategories: JSON.parse('<%= raw @all_categories.to_json %>'),
      reportDetails: JSON.parse('<%= raw @report_details.to_json %>'),
      reportPageParams: JSON.parse('<%= raw @report_page_params.to_json %>'),
      sample_status: JSON.parse('<%= raw @sample_status.to_json %>'),
      rerun_path: '<%= kickoff_pipeline_sample_path %>',
      all_backgrounds: JSON.parse('<%= raw @background_models.to_json %>')
    }, 'PipelineSampleReads_page');
    // console.log('Pipleine run have invalid json', '<%=  @pipeline_run %>');
  <% end %>
</div>
