<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sample.name %>
</p>

<p>
  <strong>Pipeline runs (# remaining reads):</strong>
</p>

<% @sample.pipeline_outputs.each do |pipeline_output| %>
  <li><%= pipeline_output.total_reads %> | <%= link_to 'Show', pipeline_output %></li>
<% end %>

<p>
  <%= link_to 'Back', samples_path %>
</p>

