<div id="PhyloTree_page">
  <%= javascript_tag do %>
    react_component('PhyloTree', {
    csrf: '<%= form_authenticity_token %>',
    taxon: JSON.parse('<%= raw escape_json(@taxon) %>'),
    project: JSON.parse('<%= raw escape_json(@project) %>'),
    samples: JSON.parse('<%= raw escape_json(@samples) %>'),
    pipeline_runs: JSON.parse('<%= raw escape_json(@pipeline_runs) %>'),
    phylo_tree: JSON.parse('<%= raw escape_json(@phylo_tree) %>')
    }, 'PhyloTree_page');
  <% end %>
</div>
