<p><%= @sharing_user.name %> (<%= @sharing_user.email %>) has invited you to CZ ID project
  <b><a href="https://czid.org/my_data?projectId=<%=(@shared_project_id)%>"><%= @shared_project_name %></a></b>
  <p>If you do not see a project link, copy and paste the following into a browser: <%= "https://czid.org/my_data?projectId=#{@shared_project_id}"%></p>
</p>
