<p><%= @sharing_user.name %> (<%= @sharing_user.email %>) has invited you to IDseq project
  <b><a href="https://idseq.net/my_data?projectId=<%=(@shared_project_id)%>"><%= @shared_project_name %></a></b>
  <p>If you do not see a project link, copy and paste the following into a browser: <%= "https://idseq.net/my_data?projectId=#{@shared_project_id}"%></p>
</p>
