<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @background.name %>
</p>

<p>
  <strong>Used in <%= pluralize(@background.reports.count, 'report')%>:</strong>
  <%= raw(@background.reports.map do |r|
    link_to(r.name, r)
    end.join(','))
  %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @background.created_at %>
</p>

<p>
  <strong>Composed of pipeline runs:</strong>
</p>

<% if @background.pipeline_outputs.count == 0 %>
  No pipeline runs added yet.
<% else %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @background.pipeline_outputs.each do |p| %>
        <tr>
          <td><%= link_to p.name, p %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<p>
<%= link_to 'Edit', edit_background_path(@background) %> |
<%= link_to 'See all backgrounds', backgrounds_path %> |
<%= link_to 'Front portal', root_path %>
</p>
