<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @background.name %>
</p>

<p>
  <strong>Used in report(s):</strong>
  <% @background.reports[0...-1].each do |r| %>
    <%= link_to r.name, r if r %>, 
  <% end %>
  <%= link_to @background.reports.last.name, @background.reports.last if @background.reports.last %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @background.created_at %>
</p>

<p>
  <strong>Samples:</strong>
</p>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Sample</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @background.samples.each do |sample| %>
      <tr>
        <td><%= link_to sample.name, sample %></td>
        <td><%= link_to 'Show', sample %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
<%= link_to 'Edit', edit_background_path(@background) %> |
<%= link_to 'See all backgrounds', backgrounds_path %> |
<%= link_to 'Front portal', root_path %>
</p>
