<p id="notice"><%= notice %></p>

<h1>Taxon Sequence Files</h1>

<table>
  <thead>
    <tr>
      <th>Pipeline output</th>
      <th>Taxid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @taxon_sequence_files.each do |taxon_sequence_file| %>
      <tr>
        <td><%= taxon_sequence_file.pipeline_output %></td>
        <td><%= taxon_sequence_file.taxid %></td>
        <td><%= link_to 'Show', taxon_sequence_file %></td>
        <td><%= link_to 'Edit', edit_taxon_sequence_file_path(taxon_sequence_file) %></td>
        <td><%= link_to 'Destroy', taxon_sequence_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Taxon Sequence File', new_taxon_sequence_file_path %>
