<p id="notice"><%= notice %></p>

<h1>Spoke</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong><%= link_to 'Users', users_path %></strong></td>
      <td><strong><%= link_to 'Projects', projects_path %></strong></td>
      <td><strong><%= link_to 'Samples', samples_path %></strong></td>
      <td><strong><%= link_to 'Pipeline runs', pipeline_outputs_path %></strong></td>
      <td><strong><%= link_to 'Backgrounds', backgrounds_path %></strong></td>
      <td><strong><%= link_to 'Reports', reports_path %></strong></td>
    </tr>
  </tbody>
</table>
