<div id="scatterplot"/>
<%= javascript_tag do %>
  react_component('ScatterPlot', {
    data: [[1,1], [1,1.5], [3, 1], [5,3], [6, 3.5], [2, 1], [2.2, 3]],
  }, 'scatterplot');
<% end %>
<div id="samples_page">
  <%= javascript_tag do %>
    react_component('Home', {
      pageSize: '<%=@page_size%>',
      csrf: '<%= form_authenticity_token %>',
      editableProjects: <%= @editable_project_ids %>,
      favorites: JSON.parse('<%= raw escape_json(@favorite_projects) %>'),
      projects: JSON.parse('<%= raw escape_json(@projects)%>'),
      hostGenomes: JSON.parse('<%= raw escape_json(@host_genomes)%>')
    }, 'samples_page');
  <% end %>
</div>
