<div id="samples_page">
  <%= javascript_tag do %>
    react_component('Home', {
      pageSize: '<%=@page_size%>',
      csrf: '<%= form_authenticity_token %>',
      admin: <%= @user_is_admin %>,
      editableProjects: <%= @editable_project_ids %>,
      favorites: JSON.parse('<%= raw escape_json(@favorite_projects) %>'),
      projects: JSON.parse('<%= raw escape_json(@projects)%>'),
      hostGenomes: JSON.parse('<%= raw escape_json(@host_genomes)%>'),
      allBackgrounds: JSON.parse('<%= raw escape_json(@background_models) %>')
    }, 'samples_page');
  <% end %>
</div>
