<%# <%= react_component 'Home', samples: @samples, outputData: @final_result, pipeline_run_info: @pipeline_run_info, project: @project_info, all_project: @all_project, samples_count: @samples_count %>

<%# <% if @samples.length %>
  <%# <%= will_paginate @samples, :style => 'color:#5abcd6', previous_label: '<<', next_label: '>>', id: 'pagination' %>
<%# <% end %>

<!DOCTYPE html>
<html>
  <head>
    <title>IdSeq</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <%= javascript_include_tag Analytics::TRACKING_SOURCE %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div id="root"></div>
    <%= javascript_pack_tag 'App' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">_satellite.pageBottom();</script>
  </body>
</html>
