<!--Show a "mobile-friendly" page -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div id="landing_page">
  <%= javascript_tag do %>
    react_component(
      'DiscoveryViewRouter',
      {
        contactEmail: "accounts@idseq.net",
        showBulletin: <%= !!@show_bulletin %>,
        browserInfo: <%= @browser_info.to_json.html_safe %>,
        showAnnouncementBanner: <%= !!@show_announcement_banner %>,
        showPublicSite: <%= !!@show_public_site %>,
        landingV2: <%= !!@landing_v2 %>
      },
      'landing_page',
      JSON.parse('<%= raw escape_json(user_context)%>')
      );
  <% end %>
</div>
