<!--Show a "mobile-friendly" page -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div id="landing_page">
  <%= javascript_tag do %>
    react_component(
      'DiscoveryViewRouter', {
        autoAcctCreationEnabled: <%= @auto_account_creation_enabled %>,
        announcementBannerEnabled: <%= @announcement_banner_enabled %>,
        emergencyBannerMessage: '<%= @emergency_banner_message %>',
      }, 'landing_page', JSON.parse('<%= raw escape_json(user_context)%>')
    );
  <% end %>
</div>
