<!--Show a "mobile-friendly" page -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div id="landing_page">
  <%= javascript_tag do %>
    react_component(
      'Landing',
      {
        contactEmail: "accounts@idseq.net",
        showBulletin: <%= @show_bulletin %>,
        browserInfo: <%= @browser_info.to_json.html_safe %>,
        signInStrategy: <%= @sign_in_strategy.to_json.html_safe %>,
        showPublicSite: <%= @show_public_site %>
      },
      'landing_page'
      );
  <% end %>
</div>
