<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<% @project.samples.each do |sample| %>
  <li><%= sample.name %> | <%= link_to 'Show', sample %> | <%= link_to 'Edit', edit_project_path(@project) %></li>
<% end %>

<p>
  <%= link_to 'Back', projects_path %>
</p>
