<% if current_user.admin? %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @project.created_at %>
</p>

<%= render "samples/samples", samples:@samples %>

<p>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'See all projects', projects_path %> |
<%= link_to 'Front portal', root_path %>
</p>
<% end %>
