<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>User(s):</strong>
  <% @project.users[0...-1].each do |u| %>
    <%= link_to u.name, u if u%>, 
  <% end %>
  <%= link_to @project.users.last.name, @project.users.last if @project.users.last %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @project.created_at %>
</p>

<p>
  <strong>Samples:</strong>
</p>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Sample</th>
      <th>Pipeline runs</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @project.samples.each do |sample| %>
      <tr>
        <td><%= sample.name %></td>
        <td><%= sample.pipeline_outputs.count %></td>
        <td><%= link_to 'Show', sample %></td>
        <td><%= link_to 'Edit', edit_project_path(@project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Back', projects_path %>
</p>
