<% if current_user.admin? %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @project.created_at %>
</p>

<h1>Samples</h1>

<% if @samples.count == 0 %>
  No samples yet.
<% else %>
  <div class="sample-container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Uploader</th>
        <th>Project</th>
        <th>Sample Status</th>
        <th>Pipeline Run status</th>
        <th>Job Id </th>
        <th>Job Submitted At</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <% @samples.each do |sample| %>
        <tr class=<%= sample_status_display_for_hidden_page(sample)%>>
          <td><%= link_to sample.name, sample %></td>
          <td><%= sample.id %></td>
          <td class='small'><%= sample.user.email if sample.user %></td>
          <td><%= link_to sample.project.name, sample.project %></td>
          <td><%= sample.status %>
            <% if sample.status.to_s == 'created' and sample.created_at < 30.minutes.ago %>
                <%= button_to 'reupload', reupload_source_sample_path(sample), method: :put %>
            <% end %>
            <% if Rails.env == 'staging' %>
                <%= button_to 'sync to prod', resync_prod_data_to_staging_sample_path(sample), method: :put %>
            <% end %>
          </td>
          <td>
            <% pipeline_run = sample.pipeline_runs.first %>
            <% pipeline_run_submitted = 'N/A' %>
            <% pipeline_job_id = 'N/A' %>
            <% if pipeline_run %>
              <% pipeline_run_submitted = pipeline_run.created_at %>
              <% pipeline_job_id = pipeline_run.job_id %>
              <%= pipeline_run.job_status %>
              &nbsp;
              <% if pipeline_run.completed? %>
                <%= button_to 'rerun from top', kickoff_pipeline_sample_path(sample), method: :put, form: {target: '_blank'} %>
                <%= button_to "rerun failed stage", retry_pipeline_sample_path(sample), method: :put, form: {target: '_blank'} %>
              <% end %>
            <% end %>
          </td>
          <td><%= pipeline_job_id %></td>
          <td class="small"><%= pipeline_run_submitted %></td>
          <td><%= link_to 'Runs', pipeline_runs_sample_path(sample) %> &nbsp;
              <%= link_to 'Edit', edit_sample_path(sample) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
<% end %>

<p>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'See all projects', projects_path %> |
<%= link_to 'Front portal', root_path %>
</p>
<% end %>
