<%= form_with(model: pipeline_output, local: true) do |form| %>
  <% if pipeline_output.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pipeline_output.errors.count, "error") %> prohibited this pipeline_output from being saved:</h2>

      <ul>
      <% pipeline_output.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sample_id %>
    <%= form.text_field :sample_id, id: :pipeline_output_sample_id %>
  </div>

  <div class="field">
    <%= form.label :total_reads %>
    <%= form.number_field :total_reads, id: :pipeline_output_total_reads %>
  </div>

  <div class="field">
    <%= form.label :remaining_reads %>
    <%= form.number_field :remaining_reads, id: :pipeline_output_remaining_reads %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
