<p id="notice"><%= notice %></p>

<h1>Pipeline Outputs</h1>

<table>
  <thead>
    <tr>
      <th>Sample</th>
      <th>Total reads</th>
      <th>Remaining reads</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pipeline_outputs.each do |pipeline_output| %>
      <tr>
        <td><%= pipeline_output.sample %></td>
        <td><%= pipeline_output.total_reads %></td>
        <td><%= pipeline_output.remaining_reads %></td>
        <td><%= link_to 'Show', pipeline_output %></td>
        <td><%= link_to 'Edit', edit_pipeline_output_path(pipeline_output) %></td>
        <td><%= link_to 'Destroy', pipeline_output, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pipeline Output', new_pipeline_output_path %>
