<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @pipeline_output.sample.name %>
</p>

<p>
  <strong>Total reads:</strong>
  <%= @pipeline_output.total_reads %>
</p>

<p>
  <strong>Remaining reads:</strong>
  <%= @pipeline_output.remaining_reads %>
</p>

<table class="table table-condensed">
      <thead>
        <tr>
          <th>Taxon ID</th>
          <th>Taxon Name</th>
          <th>Taxon Level</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <% @pipeline_output.taxon_counts.sort_by(&:count).reverse.each do |element| %>
          <tr>
            <td><%= element.tax_id %></td>
            <td><%= element.name %></td>
            <td><%= element.tax_level %></td>
            <td><%= element.count %></td>
         </tr>
        <% end %>
      </tbody>
    </table>

<%= link_to 'Edit', edit_pipeline_output_path(@pipeline_output) %> |
<%= link_to 'Back', pipeline_outputs_path %>
