<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= link_to @pipeline_output.sample.name, @pipeline_output.sample %>
</p>

<p>
  <strong>Project:</strong>
  <%= link_to @pipeline_output.sample.project.name, @pipeline_output.sample.project %>
</p>

<p>
  <strong>Total reads:</strong>
  <%= @pipeline_output.total_reads %>
</p>

<p>
  <strong>Remaining reads:</strong>
  <%= @pipeline_output.remaining_reads %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @pipeline_output.created_at %>
</p>

<p>
  <strong><%= pluralize(@pipeline_output.reports.count, 'Report')%>:</strong>
  <%= raw(@pipeline_output.reports.map do |r|
    link_to(r.name, r)
    end.join(','))
  %>
</p>

<p>
  <strong>Taxon counts:</strong>
</p>

<table class="table table-condensed">
      <thead>
        <tr>
          <th>Species</th>
          <th>NT Species Count</th>
          <th>NR Species Count</th>
        </tr>
      </thead>
      <tbody>
        <% counts_display = @pipeline_output.taxon_counts %>
        <% nt_species_counts_display = counts_display.where("count_type = 'NT' and tax_level = #{TaxonCount::TAX_LEVEL_SPECIES}").order(count: :desc) %>
        <% nt_species_counts_display.sort_by(&:count).reverse.each do |nt_species_element| %>
          <tr>
            <td><%= link_to (nt_species_element.name || nt_species_element.tax_id), "https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=#{nt_species_element.tax_id}" %></td>
           <td><%= nt_species_element.count %></td>
            <% nr_species_element = counts_display.where("count_type = 'NR' and tax_level = #{TaxonCount::TAX_LEVEL_SPECIES}").find_by(tax_id: nt_species_element.tax_id) %>
            <td><%= nr_species_element.count %></td>
         </tr>
        <% end %>
      </tbody>
    </table>

<p>
<%= link_to 'Edit', edit_pipeline_output_path(@pipeline_output) %> |
<%= link_to 'See all pipeline runs', pipeline_outputs_path %> |
<%= link_to 'Front portal', root_path %>
</p>
