<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= link_to @pipeline_output.sample.name, @pipeline_output.sample %>
</p>

<p>
  <strong>Project:</strong>
  <%= link_to @pipeline_output.sample.project.name, @pipeline_output.sample.project %>
</p>

<p>
  <strong>Total reads:</strong>
  <%= @pipeline_output.total_reads %>
</p>

<p>
  <strong>Remaining reads:</strong>
  <%= @pipeline_output.remaining_reads %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @pipeline_output.created_at %>
</p>

<p>
  <strong><%= pluralize(@pipeline_output.reports.count, 'Report')%>:</strong>
  <%= raw(@pipeline_output.reports.map do |r|
    link_to(r.name, r)
    end.join(','))
  %>
</p>

<p>
  <strong>Taxon counts:</strong>
</p>

<table class="table table-condensed">
      <thead>
        <tr>
          <th>Taxon ID</th>
          <th>Taxon Name</th>
          <th>Taxon Level</th>
          <th>Count Type</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <% @pipeline_output.taxon_counts.sort_by(&:count).reverse.each do |element| %>
          <tr>
            <td><%= element.tax_id %></td>
            <td><%= element.name %></td>
            <td><%= case element.tax_level
                   when TaxonCount::TAX_LEVEL_SPECIES; 'species'
                   when TaxonCount::TAX_LEVEL_GENUS; 'genus'
                   end %>
            </td>
            <td><% case element.count_type
                   when TaxonCount::COUNT_TYPE_NT; 'nucleotide hit'
                   when TaxonCount::COUNT_TYPE_NR; 'protein hit'
                   end %>
            </td>
            <td><%= element.count %></td>
         </tr>
        <% end %>
      </tbody>
    </table>

<p>
<%= link_to 'Edit', edit_pipeline_output_path(@pipeline_output) %> |
<%= link_to 'See all pipeline runs', pipeline_outputs_path %> |
<%= link_to 'Front portal', root_path %>
</p>
