<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= link_to @pipeline_output.sample.name, @pipeline_output.sample %>
</p>

<p>
  <strong>Project:</strong>
  <%= link_to @pipeline_output.sample.project.name, @pipeline_output.sample.project %>
</p>

<p>
  <strong>Total reads:</strong>
  <%= @pipeline_output.total_reads %>
</p>

<p>
  <strong>Remaining reads:</strong>
  <%= @pipeline_output.remaining_reads %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @pipeline_output.created_at %>
</p>

<p>
  <strong><%= pluralize(@pipeline_output.reports.count, 'Report')%>:</strong>
  <%= raw(@pipeline_output.reports.map do |r|
    link_to(r.name, r)
    end.join(','))
  %>
</p>

<p>
  <strong>Annotated FASTA file of hits:</strong>
  <%= link_to @pipeline_output.sample.sample_annotated_fasta_url, @pipeline_output.sample.sample_annotated_fasta_url %>
</p>

<p>
  <strong>Log file:</strong>
  <%= link_to @pipeline_output.sample.sample_log_url, @pipeline_output.sample.sample_log_url %>
</p>

<p>
  <strong>Taxon counts:</strong>
</p>

<%= form_for @pipeline_output, method: :get, url: pipeline_output_path(@pipeline_output) do |f| %>
  <%= radio_button_tag :view_level, 'species', (@view_level=='species' || true) %>
  <%= label :view_level, 'species' %>
  <%= radio_button_tag :view_level, 'genus', @view_level=='genus' %>
  <%= label :view_level, 'genus' %>
  <%= f.submit %>
<% end %>


<table class="table table-condensed">
  <% if @view_level == 'genus' %>
    <% ordered_tax_ids = @ordered_genus_tax_ids %>
    <% nt_counts = @nt_genus_counts %>
    <% nr_counts = @nr_genus_counts %>
  <% else %>
    <% ordered_tax_ids = @ordered_species_tax_ids %>
    <% nt_counts = @nt_species_counts %>
    <% nr_counts = @nr_species_counts %>
  <% end %>
  <thead>
    <tr>
      <th><%= @view_level %></th>
      <th>NT <%= @view_level %> count</th>
      <th>NR <%= @view_level %> count</th>
    </tr>
  </thead>
  <tbody>
    <% ordered_tax_ids.each do |t| %>
      <% nt_element = nt_counts.find_by(tax_id: t) %>
      <% nr_element = nr_counts.find_by(tax_id: t) %>
      <tr>
        <td><%= link_to (nt_element.name || nt_element.tax_id),
                         "https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=#{nt_element.tax_id}" %></td>
        <td><%= nt_element.count %></td>
        <td><%= nr_element.count if nr_element %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
<%= link_to 'Edit', edit_pipeline_output_path(@pipeline_output) %> |
<%= link_to 'See all pipeline runs', pipeline_outputs_path %> |
<%= link_to 'Front portal', root_path %>
</p>
