<div id="PipelineStageResults">
  <%= javascript_tag do %>
    react_component('PipelineViz', {
        showExperimental: <%= @show_experimental %>,
        graphData: JSON.parse('<%= raw escape_json(@results) %>'),
        pipelineRun: JSON.parse('<%= raw escape_json(@pipeline_run_display) %>'),
        sample: <%= raw escape_json(@sample) %>,
        pipelineVersions: <%= raw escape_json(@pipeline_versions) %>,
        lastProcessedAt: <%= @last_processed_at %>,
        pipelineTechnology: <%= @pipeline_technology %>,
    }, 'PipelineStageResults');
  <% end %>
</div>
