<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :report_name %>
  </div>

  <div class="field">
    <%= form.label :pipeline_output_id %>
    <%= form.text_field :pipeline_output_id, id: :report_pipeline_output_id %>
  </div>

  <div class="field radiobutton-list">
    <%= form.label :background %>
    <%= form.collection_radio_buttons :background_id, Background.all, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
