<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @report.name %>
</p>

<p>
  <strong>Pipeline output:</strong>
  <%= link_to @report.pipeline_output.name, @report.pipeline_output %>
</p>

<p>
  <strong>Sample:</strong>
  <%= link_to @report.pipeline_output.sample.name, @report.pipeline_output.sample %>
</p>

<p>
  <strong>Project:</strong>
  <%= link_to @report.pipeline_output.sample.project.name, @report.pipeline_output.sample.project %>
</p>

<p>
  <strong>Background:</strong>
  <%= link_to @report.background.name, @report.background %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @report.created_at %>
</p>

<p>
  <strong>Taxon scores:</strong>
</p>

<%= form_for @report, method: :get, url: report_path(@report) do |f| %>
  Threshold for NT Z: <%= text_field_tag :nt_zscore_threshold, (@nt_zscore_threshold || nil) %><br>
  Threshold for NT rM: <%= text_field_tag :nt_rpm_threshold, (@nt_rpm_threshold || nil) %><br>
  Threshold for NR Z: <%= text_field_tag :nr_zscore_threshold, (@nr_zscore_threshold || nil) %><br>
  Threshold for NR rM: <%= text_field_tag :nr_rpm_threshold, (@nr_rpm_threshold || nil) %><br>
  View level: <br>
  <%= radio_button_tag :view_level, 'species', (@view_level=='species' || true) %>
  <%= label :view_level, 'species' %>
  <%= radio_button_tag :view_level, 'genus', @view_level=='genus' %>
  <%= label :view_level, 'genus' %>
  <%= f.submit %>
<% end %>

<table class="table table-condensed">
  <% if @view_level == 'genus' %>
    <% ordered_tax_ids = @ordered_genus_tax_ids %>
    <% nt_zscores = @nt_genus_zscores %>
    <% nr_zscores = @nr_genus_zscores %>
  <% else %>
    <% ordered_tax_ids = @ordered_species_tax_ids %>
    <% nt_zscores = @nt_species_zscores %>
    <% nr_zscores = @nr_species_zscores %>
  <% end %>
  <thead>
    <tr>
      <th><%= @view_level %></th>
      <th>NT <%= @view_level %> Z</th>
      <th>NT <%= @view_level %> rM</th>
      <th>NR <%= @view_level %> Z</th>
      <th>NR <%= @view_level %> rM</th>
    </tr>
  </thead>
  <tbody>
    <% thresholded_tax_ids = ordered_tax_ids %>
    <% thresholded_tax_ids = thresholded_tax_ids & nt_zscores.where("zscore >= ?", @nt_zscore_threshold).map(&:tax_id) if not @nt_zscore_threshold.blank? %>
    <% thresholded_tax_ids = thresholded_tax_ids & nr_zscores.where("zscore >= ?", @nr_zscore_threshold).map(&:tax_id) if not @nr_zscore_threshold.blank? %>
    <% thresholded_tax_ids = thresholded_tax_ids & nt_zscores.where("rpm >= ?", @nt_rpm_threshold).map(&:tax_id) if not @nt_rpm_threshold.blank? %>
    <% thresholded_tax_ids = thresholded_tax_ids & nr_zscores.where("rpm >= ?", @nr_rpm_threshold).map(&:tax_id) if not @nr_rpm_threshold.blank? %>
    <% thresholded_tax_ids.each do |t| %>
      <% nt_element = nt_zscores.find_by(tax_id: t) %>
      <% nr_element = nr_zscores.find_by(tax_id: t) %>
      <% element_name = nt_element ? nt_element.name : nr_element.name %>
      <% element_taxid = nt_element ? nt_element.tax_id : nr_element.tax_id %>
      <tr>
        <td><%= link_to (element_name || element_taxid),
                         "https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=#{element_taxid}" %></td>
        <td><%= nt_element.zscore if nt_element %></td> 
        <td><%= nt_element.rpm if nt_element %></td>
        <td><%= nr_element.zscore if nr_element %></td>
        <td><%= nr_element.rpm if nr_element %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<p>
<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'See all reports', reports_path %> |
<%= link_to 'Front portal', root_path %>
</p>
