<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @report.name %>
</p>

<p>
  <strong>Pipeline output:</strong>
  <%= link_to @report.pipeline_output.name, @report.pipeline_output %>
</p>

<p>
  <strong>Sample:</strong>
  <%= link_to @report.pipeline_output.sample.name, @report.pipeline_output.sample %>
</p>

<p>
  <strong>Project:</strong>
  <%= link_to @report.pipeline_output.sample.project.name, @report.pipeline_output.sample.project %>
</p>

<p>
  <strong>Background:</strong>
  <%= link_to @report.background.name, @report.background %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @report.created_at %>
</p>

<p>
  <strong>Taxon scores:</strong>
</p>

<%= form_for @report, method: :get, url: report_path(@report) do |f| %>
  Threshold for NT Species Z: <%= text_field_tag :nt_species_zscore_threshold, (@nt_species_zscore_threshold || -1) %><br>
  Threshold for NT Species rM: <%= text_field_tag :nt_species_rpm_threshold, (@nt_species_rpm_threshold || 0) %><br>
  Threshold for NR Species Z: <%= text_field_tag :nr_species_zscore_threshold, (@nr_species_zscore_threshold || -1) %><br>
  Threshold for NR Species rM: <%= text_field_tag :nr_species_rpm_threshold, (@nr_species_rpm_threshold || 0) %><br>
  <%= f.submit %>
<% end %>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Species</th>
      <th>NT Species Z</th>
      <th>NT Species rM</th>
      <th>NR Species Z</th>
      <th>NR Species rM</th>
    </tr>
  </thead>
  <tbody>
    <% @ordered_tax_ids.each do |t| %>
      <% nt_species_element = @nt_species_zscores.find_by(tax_id: t) %>
      <% nr_species_element = @nr_species_zscores.find_by(tax_id: t) %>
      <tr>
        <td><%= link_to (nt_species_element.name || nt_species_element.tax_id), 
                         "https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=#{nt_species_element.tax_id}" %></td>
        <td><%= nt_species_element.zscore %></td>
        <td><%= nt_species_element.rpm %></td>
        <% if nr_species_element %>
          <td><%= nr_species_element.zscore %></td>
          <td><%= nr_species_element.rpm %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<p>
<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'See all reports', reports_path %> |
<%= link_to 'Front portal', root_path %>
</p>
