<div id="page_header">
  <% if @hide_header %>
    <%# Don't render anything %>
  <% elsif @show_blank_header %>
    <%= javascript_tag do %>
      react_component('Header', {
        userSignedIn: false,
        showBlank: <%= !!@show_blank_header %>
      }, 'page_header')
    <% end %>
  <% elsif !current_user && !@show_landing_header%>
    <%= javascript_tag do %>
      react_component('Header', {
        userSignedIn: false,
        disableNavigation: <%= @disable_header_navigation %>,
        autoAccountCreationEnabled: <%= @auto_account_creation_enabled %>,
        announcementBannerEnabled: <%= @announcement_banner_enabled %>,
        emergencyBannerMessage: '<%= @emergency_banner_message %>', 
      }, 'page_header')
    <% end %>
  <% elsif current_user && current_user.id && !@show_landing_header %>
    <%= javascript_tag do %>
      react_component('Header', {
        adminUser: <%= current_user.admin %>,
        email: "help@czid.org",
        signInEndpoint: '<%=new_user_session_path%>',
        signOutEndpoint: '<%=destroy_user_session_path%>',
        userName: '<%= current_user.name %>',
        userSignedIn: true,
        disableNavigation: <%= @disable_header_navigation %>,
        autoAccountCreationEnabled: <%= @auto_account_creation_enabled %>,
        announcementBannerEnabled: <%= @announcement_banner_enabled %>,
        emergencyBannerMessage: '<%= @emergency_banner_message %>',
      }, 'page_header', JSON.parse('<%= raw escape_json(user_context)%>'))
    <% end %>
<% end %>
</div>
