<div id="page_header">
  <% if @show_blank_header %>
    <%= javascript_tag do %>
      react_component('Header', {
        userSignedIn: false,
        showBlank: <%= !!@show_blank_header %>
      }, 'page_header')
    <% end %>
  <% elsif !current_user && !@show_landing_header%>
    <%= javascript_tag do %>
      react_component('Header', {
        userSignedIn: false,
        disableNavigation: <%= @disable_header_navigation %>,
        announcementBannerEnabled: <%= @announcement_banner_enabled %>,
      }, 'page_header')
    <% end %>
  <% elsif current_user && current_user.id && !@show_landing_header %>
    <%= javascript_tag do %>
      react_component('Header', {
        adminUser: <%= current_user.admin %>,
        email: "help@idseq.net",
        signInEndpoint: '<%=new_user_session_path%>',
        signOutEndpoint: '<%=destroy_user_session_path%>',
        userName: '<%= current_user.name %>',
        userSignedIn: true,
        disableNavigation: <%= @disable_header_navigation %>,
        announcementBannerEnabled: <%= @announcement_banner_enabled %>,
      }, 'page_header', JSON.parse('<%= raw escape_json(user_context)%>'))


      <% if ENV["SEGMENT_JS_ID"] %>
        <!-- See https://segment.com/docs/connections/sources/catalog/libraries/website/javascript/ for more information on analytics.identify() -->
        <!-- analytics.identify([userId], [traits], [options], [callback]) -->
        analytics.identify(
          <%= current_user.id %>,
          <%= raw escape_json(current_user.traits_for_segment(include_pii: true)) %>,
          { integrations: { "Appcues": false }},
        );

        <!-- Appcues integration setup for Segment only (excludes PII)-->
        analytics.identify(
          <%= current_user.id %>,
          <%= raw escape_json(current_user.traits_for_segment(include_pii: false)) %>,
          { integrations: { "All": false, "Appcues": true }},
        );
      <% end %>
    <% end %>
  <% end %>
</div>
