<div id="page_header">
  <% if current_user && current_user.id %>
    <%= javascript_tag do %>
      react_component('Header', {
        adminUser: <%= current_user.admin %>,
        email: "help@idseq.net",
        demoUser: <%= current_user.demo_user? %>,
        signInEndpoint: '<%=new_user_session_path%>',
        signOutEndpoint: '<%=destroy_user_session_path%>',
        userName: '<%= current_user.name %>',
        userSignedIn: true
      }, 'page_header', JSON.parse('<%= raw escape_json(request_context)%>'))
    <% end %>
  <% else %>
    <%= javascript_tag do %>
      react_component('Header', { userSignedIn: false }, 'page_header')
    <% end %>
  <% end %>
</div>
