<!DOCTYPE html>
<html>
  <head>
    <title>IDseq</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="<%= image_url("logo-#{Rails.env}.png") %>"/>
  </head>

  <body id="id-seq">
    <%= render "layouts/page_header" %>
    <%= yield %>
  </body>
</html>
