<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/sentry_monitoring" %>
    <%= render "layouts/segment_analytics" %>
    <title>IDseq</title>
    <meta name="description" content="A hypothesis-free global software platform that helps scientists identify pathogens in metagenomic sequencing data.">
    <meta name="keywords" content="Infectious disease, sequencing, metagenomic sequencing, genomics, Chan Zuckerberg Initiative, CZI, Chan Zuckerberg Biohub, CZ Biohub, science, next gen sequencing, research, biology, virology, bioinformatics, computational biology, global health">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- The following line is a side fix to work around our issue with @import url(..) declarations in Sass. -->
    <!-- As soon as possible, the Sass issues should be fixed and this streamlined back into our Sass build. -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="<%= image_url("logo-#{Rails.env}.png") %>"/>
  </head>

  <body id="id-seq">
    <div class="page">
      <%= render "layouts/page_header" %>
      <div id="page_content" class="page_content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
