<!DOCTYPE html>
<html>
  <head>
    <title>IdSeq</title>
    <%= javascript_include_tag Analytics::TRACKING_SOURCE %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/page_header" %>
    <%= yield %>
    <script type="text/javascript">_satellite.pageBottom();</script>
  </body>
</html>
