<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/google_analytics" %>
    <title>IDseq</title>
    <meta name="description" content="An unbiased global software platform that helps scientists identify pathogens in metagenomic sequencing data.">
    <meta name="keywords" content="Infectious disease, sequencing, metagenomic sequencing, genomics, Chan Zuckerberg Initiative, CZI, Chan Zuckerberg Biohub, CZ Biohub, science, next gen sequencing, research, biology, virology, bioinformatics, computational biology, global health">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="<%= image_url("logo-#{Rails.env}.png") %>"/>
  </head>

  <body id="id-seq">
    <%= render "layouts/page_header" %>
    <%= yield %>
  </body>
</html>
