<!DOCTYPE html>
<html>
  <head>
    <title>IDseq</title>
    <%= javascript_include_tag Analytics::TRACKING_SOURCE %>
    <% if current_user && current_user.id %>
      <script type="text/javascript">_satellite.setVar("USERID", <%= current_user.id %>); </script>
    <% end %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/page_header" %>
    <%= yield %>
    <script type="text/javascript">_satellite.pageBottom();</script>
  </body>
</html>
