<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/onetrust" %>
    <%= render "layouts/sentry_monitoring" %>
    <%= render "layouts/segment_analytics" %>
    <%= render "layouts/appcues" %>

    <!-- SEO Tags -->
    <meta name="title" content="CZ ID Metagenomics Platform - Worldwide Research Projects">
    <meta name="description" content="CZ ID: a free, cloud-based metagenomic platform for researchers, empowers global pathogen and outbreak detection and monitoring.">

    <!-- Social Media Meta Tags -->
    <meta property="og:title" content="Helping researchers detect and track emerging infectious diseases" />
    <meta property="og:description" content="CZ ID helps researchers around the world detect and track infectious diseases" />
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://assets.prod.czid.org/assets/og-impact.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:locale" content="en_US" />

    <!-- Twitter Specific Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Helping researchers detect and track emerging infectious diseases" />
    <meta name="twitter:description" content="CZ ID helps researchers around the world detect and track infectious diseases" />
    <meta name="twitter:image" content="https://assets.prod.czid.org/assets/og-impact.png" />

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- The following line is a side fix to work around our issue with @import url(..) declarations in Sass. -->
    <!-- As soon as possible, the Sass issues should be fixed and this streamlined back into our Sass build. -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="<%= image_url("logo-#{Rails.env}.png") %>"/>
  </head>

  <body id="id-seq">
    <div class="page">
      <%= render "layouts/page_header" %>
      <%= render "layouts/segment_user_identification" %>
      <div id="page_content" class="page_content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
